*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: rgb(26, 26, 25);
}
.spinner-box{
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.configure-border-1{
    width: 250px;
    height: 250px;
    border-radius: 30px 30px 30px 30px ;
    padding: 3px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid purple;
    margin-left:-90px;
    animation: configure-clockwise 3s linear infinite alternate-reverse;
}
.configure-border-2{
    width: 250px;
    height: 250px;
    border-radius: 50px 50px 50px 50px;
     margin-left: -90px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid gold;
    
    animation: spin 3s linear infinite alternate-reverse;
}
.configure-core{
    font-size: 18px;
    position: absolute;
    margin-left: -90px;
    color: aqua;
}

    

@keyframes configure-clockwise{
    0%{
       transform: rotate(0deg);
    } 

   100%   {
         transform: rotate(360deg);
     }}
    
   @keyframes spin{
    0%{
       transform: rotate(0deg);
    } 
   
    100%{
       transform: rotate(-360deg);
    }
   }
       
